@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;//"~/Views/Layout.cshtml";
    //ViewsBag.Title = "Trang đăng ký";
}
<link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/public/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="~/public/css/colors/blue.css" id="theme" rel="stylesheet">
<link href="~/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<style>
    .error {
        color: red;
    }

    body {
        background-image: url(../assets/images/background/login-register.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>
<div class="py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <form class="form-horizontal form-material" id="changepassform">
                            <h3 class="box-title m-b-20">Đổi Mật Khẩu</h3>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" id="MatKhau" name="MatKhau" placeholder="Mật Khẩu">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" id="MatKhauMoi" name="MatKhauMoi" placeholder="Mật Khẩu Mới">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" id="NhapLaiMatKhauMoi" name="NhapLaiMatKhauMoi" placeholder="Nhập Lại Mật Khẩu Mới">
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="row justify-content-center">
                                    <div class="col-md-6 text">
                                        <input type="button" id="btn-changePass" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" value="Xác nhận">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Default JavaScript -->
<script src="~/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/tether.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="~/assets/plugins/wizard/jquery.validate.min.js"></script>
<script src="~/assets/plugins/moment/min/moment.min.js"></script>
<script src="~/assets/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Default JavaScript -->
<!-- Custom JavaScript -->
<script src="~/Scripts/User/ChangePass/user.changepass.js"></script>
<!-- Custom JavaScript -->