<connectionStrings>
  <clear />
    <add name="SqlConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source={0};Initial Catalog=Bug;User ID={1};Password={2};Trusted_Connection=False;" />


<!-- For AzureSQL
  <add name="SqlConnectionString"
             connectionString="Server=tcp:******.database.windows.net,1433;Database=*********;User ID=***;Password=***;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
             providerName="System.Data.SqlClient" />
             -->

</connectionStrings>